<ul class="social-media-list">
  
  {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github-square fa-fw fa-lg"></i></a>{%- endif -%}
  {%- if site.hackerrank_username -%}<a href="https://hackerrank.com/{{ site.hackerrank_username }} target="_blank""><i class="fab fa-hackerrank fa-fw fa-lg"></i></a>{%- endif -%}
  {%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }} target="_blank""><i class="fab fa-linkedin fa-fw fa-lg"></i></a>{%- endif -%}
  {%- if site.email -%}<a href="mailto:{{ site.email}}"><i class="far fa-envelope fa-fw fa-lg"></i></a>{%- endif -%}
</ul>
