---
layout: default
---

<div class="home">
   {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
   {%- endif -%}



   {{ content }}



   <div style="margin-left: 40px; float: right;">
      {%- include social.html -%}
      <p style="float: right;"><img src="Moseley_Headshot.jpg" alt="Lane Moseley" border="1px"></p>
   </div>

   <div style="clear: left;">
      <h2>About</h2>
      <p>I have a diverse background that includes a B.A. in English from Colorado State University and a three-year stretch in the automotive industry as a Master Certified Technician.  Currently,  I am pursing a B.S. in Computer Science at South Dakota School of Mines &amp; Technology (SD Mines).  I plan to also complete a M.S. in Computational Sciences and Robotics while at SD Mines.  My commitment to academic excellence has produced a 3.82 GPA for all SD Mines coursework and placement on the Dean’s List.</p>
      <br/>
   </div>

   <div style="clear: left;">
   <h2>Featured Projects</h2>
   <p>*All class projects kept private, but can be made available upon request.</p>
   <br/>



   <h2>Resume</h2>
   <embed src="https://lanemoseley.github.io/Resume.pdf" type="application/pdf" width="740" height="1000" />

   </div>

</div>