---
layout: default
---

<div class="home">
   {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
   {%- endif -%}

   {{ content }}

   <h2>About</h2>
   <a href="#linktoabout"></a>
   <p>I have a diverse background that includes a B.A. in English from Colorado State University and a three-yearstretch in the automotive industry as a Master Certified Technician.  Currently,  I am pursing a B.S. in Computer Science at South Dakota School of Mines &amp; Technology (SD Mines).  I plan to also complete a M.S. in Computational Sciences and Robotics while at SD Mines.  My commitment to academic excellence has produced a 3.82 GPA for all SD Mines coursework and placement on the Dean’s List.</p>

   <h2>Notable Projects</h2>

   <h2>Resume</h2>
   <embed src="https://lanemoseley.github.io/Resume.pdf" type="application/pdf" width="700" height="1000" />


</div>